.chat{
    background: white;
    height: 80vh;
    width: 80%;
    display: flex;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.8), rgba(255,255,255, 0.5));
    border-radius: 2rem;
    z-index: 4;
    backdrop-filter: blur(2rem);
}